<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>
	<modules>
		<!--注册PassengerModule模块-->
		<module assemblyFile="E:\CodeExercises\NetCore下WPF的开发\ModularApplication1-3-Module\ModularApp.PassengerModule\bin\Debug\netcoreapp3.1\ModularApp.PassengerModule.dll" moduleType="ModularApp.PassengerModule.PassengerModule, ModularApp.PassengerModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PassengerModule" startupLoaded="True" />
		<!--注册FlightModule模块-->
		<module assemblyFile="..\..\..\..\ModularApp.FlightModule\bin\Debug\netcoreapp3.1\ModularApp.FlightModule.dll" moduleType="ModularApp.FlightModule.FlightModule, ModularApp.FlightModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FlightModule" startupLoaded="false" />
	</modules>
</configuration>